1. Eager loaded lib1-a.component:
<br />
<lib-lib1-a />

<hr />

2. Defer-loaded lib2-a.component
<br />
@defer (on interaction) {
<lib-lib2-a />
} @placeholder {
<div>SPIKE click me to load deferred - lib2-a component</div>
}

<hr />

3. Defer-loaded local lib3-a-WRAPPER-component
<br />
@defer (on interaction) {
<app-lib3-a-wrapper />
} @placeholder {
<div>SPIKE click me to load deferred - lib3-a-wrapper component</div>
}

<hr />

4. Defer-loaded lib4-a.component VIA lib4-a-WRAPPER-module
<br />
@defer (on interaction) {
<lib-lib4-a />
} @placeholder {
<div>
  SPIKE click me to load deferred - lib4-a component VIA lib4-a-WRAPPER-module
</div>
}
